@font-face {
  font-family: dm_serif;
  src: url(../fonts/DMSerifDisplay-Regular.ttf);
}
@font-face {
  font-family: public;
  src: url(../fonts/PublicSans-Regular.ttf);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// root
$h_color: #36536B;
$p_color: #6C8294;
$who_we_bg_color: #1B262F;
$btn_color:#BA4270;

html {
  font-size: 62.5%;
}
body{
  background-color: #EDF3F8;

}

a {
  text-decoration: none;
  display: inline-block;
}

ul {
  list-style: none;
}

button {
  border: none;
  cursor: pointer;
}

img{
    max-width: 100%;
}

h1,
h2,
h3,
h4 {
  font-family: dm_serif;
}

P,span,a{
    font-family: public;
}

.container {
  max-width: 32.7rem;
  margin: 0 auto;
}

.btn{
    padding: 1.6rem 4.6rem 1.4rem 5rem;
    background-color: $btn_color;
    color: #FBFCFE;
    border-radius: 4rem;
    font-size: 1.5rem;
    line-height: 1.7rem;
    font-weight: 700;
}

@media screen and (min-width:768px) {
    .container{
      max-width: 68.9rem;
    }
}

@media screen and (min-width: 1440px){
    .container{
        max-width: 1110px;
    }
}