@font-face {
  font-family: dm_serif;
  src: url(../fonts/DMSerifDisplay-Regular.ttf);
}
@font-face {
  font-family: public;
  src: url(../fonts/PublicSans-Regular.ttf);
}
// basic style ***
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// root ***
$h_color: #36536b;
$p_color: #6c8294;
$who_we_bg_color: #1b262f;
$btn_color: #ba4270;

html {
  font-size: 62.5%;
  // font size 1rem = 10px
}

body {
  // proect bg color
  background-color: #edf3f8;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul {
  list-style: none;
}

button {
  border: none;
  cursor: pointer;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4 {
  font-family: dm_serif;
}

P,
span,
a {
  font-family: public;
}

.container {
  max-width: 32.7rem;
  margin: 0 auto;
}

.btn {
  // default button style
  padding: 1.6rem 4.6rem 1.4rem 5rem;
  background-color: $btn_color;
  color: #fbfcfe;
  border-radius: 4rem;
  font-size: 1.5rem;
  line-height: 1.7rem;
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 68.9rem;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1110px;
  }
}
