.billing_info {
    padding-bottom: 8rem;
  .billing_info_cards {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 4.8rem;
    .billing_info_card {
        text-align: center;
      h4 {
        font-size: 1.8rem;
        font-weight: 700;
        line-height: 2.5rem;
        color: $h_color;
        padding-bottom: 1.6rem;
        padding-top: 3.3rem;
    }
    p{
        font-size: 1.5rem;
        line-height: 2.5rem;
        color: $p_color;
    }

    }
  }
}

@media screen and (min-width:768px){
  .billing_info_cards{
    grid-template-columns: repeat(3 ,1fr) !important;
    row-gap: 0;
    column-gap: 1rem;
    .billing_info_card{
      width: 22.3rem;
    }
  }
}
@media screen and (min-width:1440px){
  .billing_info{
    padding-top: 12rem;
    .billing_info_card{
      width: 35rem;
      column-gap: 3rem;
    }
  }
}
